.navbar{
    width: 100%;
    background-color: teal;
    display: block;
    top: 0;
    position: fixed;
    border-radius: 0;
}
.navbar ul{
    list-style: none;
    margin:0;
    padding:0;
    display: block;
    width: 100%;
}
.navbar ul li{
    float: left;
}
.navbar ul li a{
    text-decoration: none;
    display: block;
    color:white;
    margin:5px;
    border:1px solid white;
    border-radius: 5px;
    padding:10px;
}
.content{
    height: 90%;
    position: fixed;
    top: 10%;
    width: 100%;  
    padding:10px;
}